@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<h2><strong>Address of ABC Retailers</strong></h2>

<h3>
    92 Four Street, Ruimsig, Gauteng, 1750
</h3>

<h2><strong>Contact Email</strong></h2>

<h3>
    abcRetailers@retailers.co.za
</h3>

<h2><strong>Contact Number</strong></h2>

<h3>
    Tel: 011 958 6450
    Phone: 073 465 0354
    Whatsup: 077 456 4678
</h3>

<h2><strong>Operation Hours</strong></h2>

<ul style="list-style-type:circle;">

    <li>><strong>Day of the week        Time</strong></li>
    <li>><strong>   Monday: </strong>  08:00-17:00</li>
    <li>><strong>   Tuesday: </strong> 08:00-17:00</li>
    <li>><strong>   Wensday: </strong> 08:00-17:00</li>
    <li>><strong>   Thursday: </strong> 08:00-17:00</li>
    <li>><strong>   Friday: </strong> 08:00-16:00</li>
    <li>><strong>   Saterday: </strong> 08:00-13:00</li>
    <li>><strong>   Sunday: </strong>    Closed</li>
    <li>><strong>   public holidays: </strong>  Closed</li>

</ul>

<h2>Contact Us Form</h2>

<p>If you have any questions or concerns about this policy, please contact us at [abcretails@gmail.com]</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7166.954094370623!2d27.873880076211734!3d-26.083341977151278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e959ef5277b96a7%3A0xc4aa15508f8e5e8c!2sIIE%20MSA!5e0!3m2!1sen!2snl!4v1756719591918!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h2>Enquiry</h2>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe6p2dLAhiGMTxHb6VQo3etdiHHWbNjyc4OaL73-EP0XoluGw/viewform?embedded=true" width="640" height="1701" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>


