@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1><strong>Introduction</strong></h1>

<p>
    <strong>ABC Retailers</strong> is committed to protecting the privacy of our customers. This privacy
    policy outlines how we collect, use, and protect your personal information when you
    shop on our website.
</p>

<h1><strong>Information We Collect</strong></h1>

<ol type="1">
    <li><strong>Personal Information</strong>: We Collect personal information, such as your name, email address, phone number, and shipping address, when you create an account or make a purchase.</li>
    <li><strong>Payment Information</strong>: We collect payment information, such as credit card numbers, when you make a purchase</li>
    <li><strong>Browsing Information</strong>We collect browsing information, such as your IP address, browser type, andc device type when you visit our website</li>
</ol>

<h1><strong>How We Use Your Information</strong></h1>

<ul style="list-style-type:circle;">
    <li>><strong>Order Fulfillment:</strong> We use your personal and payment information to process and fulfill your orders.</li>
    <li>><strong>Communication:</strong> We use your contact information to communicate with you about your orders, promotions, and other updates</li>
    <li>><strong>Marketing:</strong> We may use your information to send you marketing emails and promotions, but you can opt-out</li>
    <li>><strong>Analytics:</strong> We use browsing information to analyze website traffic and improve our services.</li>
</ul>

<h1><strong>Information Sharing</strong></h1>

<ol type="I">
    <li><strong>Service Providers:</strong> We share your information with service providers, such as payment processors and shipping companies to fulfill your order.</li>
    <li><strong>Partners:</strong> We may share your information with partners, such as affiliates, to offer you relevant promotions</li>
    <li><strong>Legal Requirements:</strong> We may disclose your information if required by law or to protect our rights.</li>
</ol>

<h1><strong>Security Measures</strong></h1>

<ol type="A">
    <li><strong>Encryption: </strong> We use encryption to protect your payment information</li>
    <li><strong>Secure Servers:</strong> We store your personal information on secure servers that are protected by firewalls and intrusion detection systems.</li>
    <li><strong>Access Control:</strong> We limit access to your information to authorized personal only</li>
</ol>

<h1><strong>Your Rights</strong></h1>

<ol type="1">
    <li><strong>Access: </strong> You can access and update your personal information by loggin into your account.</li>
    <li><strong>Opt-out:</strong> You can opt-out of marketing emails by clicking on the unsubscribe link.</li>
    <li><strong>Delete:</strong> You can request to delete your account and personal information by contacting us.</li>
</ol>

<h1><strong>Changes to this policy</strong></h1>

<p>
    We may update this policy from time to time. We will notify you of any changes by 
    posting the updated policy on our website.
</p>

<h1><strong>Contact Us</strong></h1>

<p>
    If you have any questions or concerns about this policy, please contact us at [
</p>
<p style="color:red;">support email-add an email</p>
<p>
    ].
</p>

<h1><strong>Effective Date</strong></h1>

<p>
    This policy is effective as of 1<sup>st</sup> September 2025]. By shopping on our website, you
    agree to the terms of this privacy oplocy
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/F8J_Rzet_vE?si=ML-YTu4IkDvw2Jik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>














<h1>Creating a Simple Table</h1>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>1234567891</td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <img src="https://www.bing.com/images/search?view=detailV2&ccid=i%2bXdb3eu&id=CF2F957EE1FCB4E3266B980AE3CDF2FE2E133BBB&thid=OIP.i-Xdb3eu9ihga0frrt1tWQHaEo&mediaurl=https%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f06%2fFree-Download-HD-Nature-Wallpapers.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.8be5dd6f77aef628606b47ebaedd6d59%3frik%3duzsTLv7yzeMKmA%26pid%3dImgRaw%26r%3d0&exph=1600&expw=2560&q=free+picds&FORM=IRPRST&ck=6A7CA21A6ADCDA856C4F0617065B17D1&selectedIndex=0&itb=0" alt="Free picture" width="250" height="200">
            <h3>Price: $50</h3>
            <button>Buy Now</button>
        </td>
        <td>
            <img src="https://www.bing.com/images/search?view=detailV2&ccid=dD0sT3Wb&id=E3A3BF444DD25D6F0591B8B27870F68DA5A69DDE&thid=OIF.HKh1iG3H6d2E10OYW7rwpw&mediaurl=https%3a%2f%2fthumbs.dreamstime.com%2fb%2fbelow-surface-view-young-girl-watches-polar-bear-swim-enclosed-tank-90997554.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.743d2c4f759ba4e3e6d9120f451e9ec8%3frik%3d%26pid%3dImgRaw%26r%3d0&exph=534&expw=800&q=free+picds&FORM=IRPRST&ck=1CA875886DC7E9DD84D743985BBAF0A7&selectedIndex=1&itb=0" alt="Free picture" width="250" height="200">
            <h3>Price: $20</h3>
            <button>Buy Now</button>
        </td>
        <td>
            <img src="https://www.bing.com/images/search?view=detailV2&ccid=5zWEXYM8&id=998055AE92805F5E05CBCD18BAE366D993EBC9BA&thid=OIF.jClewcjFbHUkMvzSFisKlg&mediaurl=https%3a%2f%2fthumbs.dreamstime.com%2fb%2fset-vintage-grungy-photographic-slides-empty-photography-frames-free-space-pics-389929179.jpg%3fw%3d768&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.e735845d833c07c54cce4b658b6bc8e2%3frik%3d%26pid%3dImgRaw%26r%3d0&exph=523&expw=768&q=free+picds&FORM=IRPRST&ck=8C295EC1C8C56C752432FCD2162B0A96&selectedIndex=2&itb=0" alt="Free picture" width="250" height="200">
            <h3>Price: $10</h3>
            <button>Buy Now</button>
        </td>
        <td></td>
        <td></td>

    </tr>
</table>